week-4/practical/DWS1-Practical/.DS_Store
week-4/practical/DWS1-Practical/css/.DS_Store
week-4/practical/DWS1-Practical/images/ico_coffee.png
week-4/practical/DWS1-Practical/css/styles.css
week-4/practical/DWS1-Practical/images/.DS_Store
week-4/practical/DWS1-Practical/images/ico_service.png
week-4/practical/DWS1-Practical/images/logo.png
week-4/practical/DWS1-Practical/index2.html
week-4/practical/DWS1-Practical/_assets/.DS_Store
week-4/practical/DWS1-Practical/_assets/index-text-properties.jpg
week-4/practical/DWS1-Practical/index3.html
week-4/practical/DWS1-Practical/css/styles3.css
week-4/practical/DWS1-Practical/images/ico_food.png
week-4/practical/DWS1-Practical/images/nightlife03.png
week-4/practical/DWS1-Practical/_assets/index-complete.png
week-4/practical/DWS1-Practical/_assets/index-spacing.jpg
week-4/practical/DWS1-Practical/_assets/index-dimensions.jpg
week-4/practical/DWS1-Practical/index.html
week-4/practical/DWS1-Practical/images/nightlife02.png
week-4/practical/DWS1-Practical/images/nightlife01.png
week-4/practical/DWS1-Practical/images/ico_music.png
week-4/practical/DWS1-Practical/css/styles2.css
week-4/practical/DWS1-Practical/images/homebackground.jpg