#four{
	background-color:#7D8A2E;
	color:#fff;
}

#three{
	background-color:#363D0E;
	color:#fff;
}

#two{
	background-color:#C5D65D;
}

#one{
	background-color:#28083D;
	color:#fff;
}

#zero{
	background-color:#652E8A;
	color:#fff;
}